.container {
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 1000px;
    background-color: rgb(244, 216, 9);
    align-items: center;
    flex-direction: row;
    display: block;



}

.cmn {
    display: flex;
    float: right;
    clear: both;
    /* margin-top: -50px; */
}


.one {
    border: 1px solid red;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(180, 113, 25);
    text-align: center;
    padding: 2%;


}


.two {
    border: 1px solid red;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(74, 13, 197);
    text-align: center;
    padding: 2%;

}

.three {
    border: 1px solid red;
    height: 150px;
    width: 150px;
    margin: 5px;
    margin-top: -175px;
    background-color: rgb(30, 197, 24);
    text-align: center;
    padding: 2%;

    display: flex;


}

.four {
    border: 1px solid red;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(134, 15, 64);
    text-align: center;
    padding: 2%;
    display: flex;

}