h1{
   
    background-color:yellow;
}
h2{
 
    background-color:#12ff20;;
}
h3{
background-color:rgb(100,200,155);
}

h4{
    background-color:rgb(18,10,100,1.0);
}
h5{
background-color: hsl(190,90%,90%);
}
h6{
    background-color: hsl(300,70%,80%,1.0);
}